/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    font-family: 'Droid Sans', sans-serif;
    color: #212121;
    font-size: 1em;
    background-color: #cfd8dc;
}

.name-section {
    padding: 15rem 0 0;
}

.full-name {
    text-align: center;
    letter-spacing: 0.2em;
}

.logo-section {
    text-align: center;
}

.logo-head {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 63px;
    color: #000;
}

.logo-head-red {
    color: #d50000;
}

.logo-slogan {
    position: absolute;
    display: inline-block;
    width: 20em;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.1em;
    bottom: 12px;
    left: 0;
}

.contact-section {
    padding: 5rem 0 0;
    text-align: center;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -30px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.footer-section, .page-wrap:after {
    height: 30px;
}
.footer-section {
    text-align: center;
}

.icon {
    display: inline-block;
    margin: 5pt 5pt;
    width: 60px;
    height: 60px;
    background: center no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.icon:hover {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray; /* IE 6-9 */

}

.icon-email {
    background-image: url("../img/icon_email.png");
}

.icon-github {
    background-image: url("../img/icon_github.png");
}

.icon-google {
    background-image: url("../img/icon_google.png");
}

.icon-twitter {
    background-image: url("../img/icon_twitter.png");
}
